* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    line-height: 1.5;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 26px;
    color: #333;
}

.controls {
    margin: 20px 0;
}

.btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 5px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    max-width: 180px;
}

.btn:hover {
    background-color: #0056b3;
}

.track-info {
    margin-bottom: 20px;
}

#track-name {
    font-size: 22px;
    font-weight: bold;
}

#artist-name {
    font-size: 18px;
    color: #777;
}

.volume-control {
    margin: 20px 0;
}

input[type="range"] {
    width: 100%;
    height: 25px;
}

.playlist {
    margin-top: 20px;
}

ul {
    list-style: none;
}

.track {
    padding: 15px;
    background-color: #f0f0f0;
    margin: 5px 0;
    border-radius: 8px;
    cursor: pointer;
}

.track:hover {
    background-color: #ddd;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

@media (max-width: 768px) {
    h1 {
        font-size: 22px;
    }

    .btn {
        font-size: 18px;
    }

    #track-name {
        font-size: 20px;
    }

    #artist-name {
        font-size: 16px;
    }
}
